<style>

#top-div {
	display: block;
    height: 10px;
}

button {
	height: 30px;
	min-width: 40px;
	text-align: center;
	font-size: 12px;
}

#bottom-div {
	display: block;
	text-align: center;
}

input[type=text] {
	width: 25px;
	border: 1px solid black;
}

.square {
	border: 1px solid gray;
}

#main-grid {
	margin: 0 auto;
	-moz-user-select: -moz-none;
	width: 500px;
	height: 500px;
}

#time-slider-val {
	background-color: #E6E6E6;
}

.alive {
	background-color:black;
}

.has-been.dead {
	background-color: pink;
}

.dead {
	background-color:white;
}

.top-text {
	font-size: 20px;
}



</style>